.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
#img-rounded{
    width: 300px;
    height: 300px;
    border-radius: 170px;
}
#contact{
    margin-bottom: 6em;
}